---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me (Masriah Hasan)"
	pubDate={new Date('Januari 01 2026')}
	heroImage="/masriah.jpg"
>
	<p>
		Hello! I am someone who is interested in talking about fashion, beauty, women, career, and culinary. I also really like to travel, especially to places that can be reached by public transportation. On this page, I share my ideas, travel experiences and thoughts. Feliz lectura 🖤
	</p>

	<p>
		I started thinking about this name for my fashion Instagram in 2016. There was no particular reason, other than I liked the phrase "I Love It." However, using that as an account username wasn't very unique. Then I thought about what would be possible but still have the same meaning. So I translated the word "I" into Spanish (a language I love). I added the word "Oh" because "Ah" (from @ahmasriah) was so irrelevant. By 2018, I had managed to gain over 80,000 followers. Unfortunately, the @ohmiloveit Instagram account had to be deactivated because I deleted it. I originally thought I wouldn't focus on fashion anymore. I'm studying Indonesian Literature and want to be a journalist, not a fashion blogger 🙂 That was just a dream in high school. Now I want to start all over again and try to make it a reality.
	</p>
</Layout>
