---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Its Masriah!</h1>
			<p>
				Hello, I’m Writing Engaging Content, For me, engaging content is all about getting results, such as: increase in traffic, clicks, likes, comments, mention, sales, and conversions.
			</p>

			<p>For examples of my articles, kindly click link below:</p>
			<ul>
				<li>1. Mojok, <code><a href="https://mojok.co/terminal/author/masriah">Click Here</a></code></li>
				<li>2. Kompasiana, <code><a href="https://www.kompasiana.com/masriah81499">Click Here</a></code></li>
				<li>3. Medium, <code><a href="https://medium.com/@masriah">Click Here</a></code></li>
				<li>4. Linardi Associate, <code><a href="http://blog.linardiassociates.com/author/masriah">Click Here</a></code></li>
				<li>5. Ohmiloveit, <code> <code><a href="https://ohmiloveit.blogspot.com/?m=1">Click Here</a></code></li>
           </ul>
		</main>
		<Footer />
	</body>
</html>
