---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Its Masriah!</h1>
			<p>
				Hello, I’m Writing Engaging Content, For me, engaging content is all about getting results, such as: increase in traffic, clicks, likes, comments, mention, sales, and conversions.
			</p>

			<p>For examples of my articles, kindly click link below:</p>
				<li>1. Mojok, <code><a href="https://mojok.co/terminal/author/masriah">Click Here</a></code></li>
				<li>2. Kompasiana, <code><a href="https://www.kompasiana.com/masriah81499">Click Here</a></code></li>
				<li>3. Medium, <code><a href="https://medium.com/@masriah">Click Here</a></code></li>
				<li>4. Linardi Associate, <code><a href="http://blog.linardiassociates.com/author/masriah">Click Here</a></code></li>
				<li>5. Ohmiloveit, <code><a href="https://ohmiloveit.blogspot.com">Click Here</a></code></li>

         <p> <h2> For your information: </h2>
         <li>The <code> ohmiloveit.my.id</code> domain has expired in 2024 and in 2025 it was repurchased by Azhar Basyiri Hartono (Prana Yun Cai) / nS.aB Private Family Media to secure it from irresponsible people who will use the domain. As a recovery of information for the past 1 year from 2024 to 2025, this domain access was transferred to the <code>ohmiloveit.wordpress.com</code> domain, in 2026 and onwards this redirection access was stopped and it was decided to make something better by designing from scratch and starting anew with articles that have been available on several platforms owned by Masriah Hasan using English for wider access, aka visitors outside Indonesia</li>
		</main>
		<Footer />
	</body>
</html>
